.coockie-backdrop{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
}

.cookie-popup {
    position: fixed;
    top: 150px;
    max-width: 510px;
    max-height: 260px;
    background-color: var(--text-color-white);
    border-radius: 5px;
    box-shadow: 0 20px 50px var(--shadow-color);
    padding: 58px 50px 40px;
    z-index: 1000;
    text-align: right;
}

.cookie-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--text-color-black);
    margin: 0;
    text-align: left;
}

.cookie-accept {
    display: inline-block;
    text-transform: uppercase;
    background-color: var(--accent-yellow);
    color: var(--black-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    margin-top: 30px;
    padding: 14px 85px;
    border: none;
    border-radius: 33.5px;
    cursor: pointer;

    transition: background-color 0.2s ease;
}

.cookie-accept:hover {
    background-color: var(--black-color);
    border-color: var(--black-color);
    color: var(--text-color-white);
}

@media (max-width: 768px) {
    .cookie-popup{
        max-width: 60%;
    }
}

@media (max-width: 480px ) {
    .cookie-popup{
        max-width: 296px;
    } 
}