.reasons-to-join-section{
    padding: 100px 0px;
}

/* .reasons-container{
    
} */

.reason-h2text{
    position: relative;
    font-size: 48px;
    font-weight: 900;
    line-height: 100px;
    margin: 0;
}

.reason-h2text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 10px;
    background-color: var(--text-color-black);
}

.reason-text-bold{
    font-weight: 700;
}

.reason-text{
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.reason-cards-container{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.reason-info-cards{
    position: relative;
    z-index: 0;
    width: 100%;
    max-width: 300px;
    max-height: 410px;
    padding: 35px;
    background-color: var(--accent-yellow);
}

.reason-info-cards::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/main-background-photo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.12;
    z-index: -1;
}

.card-number{
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    margin: 0;
}

.card-title{
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    margin: 20px 0 16px;
    white-space: nowrap;
}

.card-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    margin: 0 0 20px;
}

.reason-card-corner-icon{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
}

.decor-container{
    display: flex;
    justify-content: right;
}

.reason-decor{
    padding-top: 80px;
}