:root{
  --primary-white: rgba(255, 255, 255, 0.5);
  --black-color: rgba(0, 0, 0, 1);
  --grey-color: rgba(233, 233, 233, 1);
  --text-color-black: rgba(41, 41, 41, 1);
  --text-color-white: rgba(255, 255, 255, 1);
  --data-color-grey: rgba(152, 152, 152, 1);
  --copy-rights-color: rgba(215, 215, 215, 1);
  --accent-yellow: rgba(227, 236, 33, 1);
  --accent-blue: rgba(113, 179, 231, 1);
  --shadow-color: rgba(69, 69, 69, 0.3);
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Roboto',
    monospace;
}

.container{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}